<ion-view title="LOCAL" class="bar-positive">
   <ion-nav-bar class="bar-assertive">
     <ion-nav-back-button></ion-nav-back-button>
   </ion-nav-bar>

   
   <ion-content class="padding  scroll-bg">
      <div ng-app="app" ng-controller="LocalCtrl"> 
      <div  style="padding: 5px;">
         <div style="margin:0 auto;">
             <label style="font-size: x-large" for="repeatTypes">TIPO: </label>
             <br/>
             <select style="width: 90%; height:40px; font-size: medium;" name="repeatTypes" id="repeatType" ng-model="type_id" ng-change="selectType()">
               <option ng-repeat="type in types" value="{{type.id}}">{{type.name}}</option>
             </select>
         </div>
         </div>
         
         <br/>
      <div  style="padding: 5px;">
         <div style="margin:0 auto;">
             <label style="font-size: x-large" for="repeatLocais"> LOCAL: </label>
             <br/>
             <select style="width: 90%; height:40px; font-size: medium;" name="repeatLocais" id="repeatLocal" ng-model="local">
               <option ng-repeat="local in locais"  value="{{local.code}}">{{local.name}} - <div style="float: right">{{local.code}}</div></option>
             </select>
         </div>  
         </div>
         
         <br/><br/>
         <p style="text-align: center; font-family: 'Helvetica'; font-size: 50px">{{local}}</p>
      </div>
   </ion-content>
</ion-view>